<!-- PATTERN: LIST -->

<table cellpadding="0" cellspacing="0" border="0" align="center" width="680" class="row">
	<tbody>
		<tr>
			<td width="680" align="center" class="row-wrapper">
				<table width="680" border="0" cellpadding="0" cellspacing="0" class="col" align="left">
          <tbody>
            <tr>
              <td width="680" align="center" class="col-wrapper">


              	<!-- Begin: List -->
								<table cellspacing="0" cellpadding="0" border="0" class="list" align="left">
									<tbody>
										<tr>
											<td align="left" valign="top" class="list-bullet">&bull;</td>
											<td align="left" valign="top" class="list-item">Item one<br/>Booms sldhfkl slkd flksdf</td>
										</tr>
										<tr>
											<td align="left" valign="top" class="list-bullet">&bull;</td>
											<td align="left" valign="top" class="list-item">Item</td>
										</tr>
										<tr>
											<td align="left" valign="top" class="list-bullet">&bull;</td>
											<td align="left" valign="top" class="list-item">Item</td>
										</tr>
										<tr>
											<td align="left" valign="top" class="list-bullet">&bull;</td>
											<td align="left" valign="top" class="list-item">Item</td>
										</tr>
									</tbody>
								</table>
								<!-- End: List -->


              </td>
            </tr>
          </tbody>
        </table>

			</td>
		</tr>
	</tbody>
</table>